<configuration>
    <springProperty scope="context" name="environment" source="environment" defaultValue="default"/>
    <springProfile name="json-log">
        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender"/>
        </root>
    </springProfile>
    <springProfile name="!json-log">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
</configuration>